<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->   
	    <encoder>   
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
	    </encoder>   
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/SMPM/info-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- logback为java中的包 -->   
  	<logger name="logback"/>   

	<root level="info">
		<appender-ref ref="stdout" />
	</root>
	<root level="warn">
		<appender-ref ref="RollingFile" />
	</root>
</configuration>