
#slider {
  /* margin: 100px auto; */
  display:none;
  width: 254px;
  height: 40px;
  position: relative;
  border-radius: 2px;
  background-color: #e8e8e8;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #38b1fa;
  z-index: 1;
}

#label {
  width: 46px;
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #898282;
  font-size: 16px;
  font-weight: 900;
}


#labelTip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 38px;
  text-align: center;
  z-index: 2;
}
