<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.code.entity.base.User">
	<resultMap type="com.pms.code.entity.base.User" id="UserMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="gm_type" property="gm_type" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="p_m_id" property="pmid" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用户物业办事处信息输出映射 -->
	<resultMap type="com.pms.code.entity.base.User" id="userPmdMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="gm_type" property="gm_type" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="p_m_id" property="pmid" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
		<association property="pmd"
			javaType="com.pms.code.entity.base.PropertyManagementDepartment">
			<id column="id" property="id" />
			<result column="management_department_name" property="management_department_name"
				jdbcType="VARCHAR" />
			<result column="contact_number" property="contact_number"
				jdbcType="VARCHAR" />
			<result column="province" property="province" jdbcType="VARCHAR" />
			<result column="city" property="city" jdbcType="VARCHAR" />
			<result column="area" property="area" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
		<!-- 用户公司信息输出映射 -->
	<resultMap type="com.pms.code.entity.base.User" id="userPropertyMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="gm_type" property="gm_type" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="p_m_id" property="pmid" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
		<association property="property" javaType="com.pms.code.entity.base.Property">
			<id column="id" property="id" />
			<result column="company_name" property="company_name"
				jdbcType="VARCHAR" />
			<result column="contact_number" property="contact_number"
				jdbcType="VARCHAR" />
			<result column="telphone" property="telphone" jdbcType="VARCHAR" />
			<result column="addr" property="addr" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<!-- 用户登录查询 -->
	<select id="selUserByNamePwd" parameterType="hashmap" resultMap="UserMap">
		select * from t_user where user_name=#{userName} and
		pass_word=#{passWord}
	</select>

	<!-- 忘记密码查询用户 -->
	<select id="selUserByName" parameterType="hashmap" resultMap="UserMap">
		select * from t_user where user_name=#{userName}
	</select>

	<!-- 修改密码 -->
	<update id="updatePassWord" parameterType="hashmap">
		update t_user set
		pass_word=#{passWord} where id=#{id}
	</update>

	<!-- 添加小区管理员 -->
	<insert id="addUser" parameterType="User">
		insert into
		t_user(user_name,pass_word,gm_type,pid,p_m_id,email,createtime)
		values(#{userName},#{passWord},#{gm_type},#{pid},#{pmid},#{email},#{createtime})
	</insert>

	<!-- 查询用户小区办事处信息通过Id -->
	<select id="queryUserPmdById" parameterType="hashmap"
		resultMap="userPmdMap">
		SELECT
		tu.id,tu.user_name,tu.email,td.management_department_name,td.contact_number,td.province,td.city,td.area
		FROM t_user AS tu,`t_property_management_department` AS td
		WHERE
		tu.p_m_id=td.id AND tu.id=#{id}
	</select>

	<!-- 查询用户公司信息通过Id -->
	<select id="queryUserPropertyById" parameterType="hashmap"
		resultMap="userPropertyMap">
		SELECT tu.id,tu.user_name,tu.email,tp.company_name,tp.telphone,tp.addr
		FROM t_user AS tu,`t_property` AS tp
		WHERE tu.pid=tp.id AND tu.id=#{id}
	</select>
</mapper> 